<!DOCTYPE html>
<html ng-app="pizza_app">
  <head>
    <!-- this example was consulted: http://embed.plnkr.co/ThpFwX7BRhRhNWPuq5ap/preview -->
    <title>Create your pizza</title>
    <meta charset="utf-8" />
	<style>
		.emphasis {
			background-color: red
		}
		.deemphasis {
			background-color: white
		}
	</style>
  </head>
  <body ng-controller="MainController as mc">
    <h1>Create your pizza</h1>
    <h3>List of Pizza Toppings</h3>
    <select ng-model="mc.pizzatoppings" ng-option="p.name for p in mc.pizzatoppings"></select>
    <!--
	<input type="button" value="update" ng-click="mc.update(mc.pizzaName, mc.[pizzaID)" /> 
    -->
	<script src="https://code.angularjs.org/1.6.2/angular.min.js"></script> 
    <script src="pizza_app.js"></script></form>
  </body>
</html>
